:root {
    --cor-fundo: #e2e5e9;
    --cor-fundo-2: #b9d0ee;
    --cor-forms: #bbbec3;
    --cor-texto: #le3b69;
    --cor-егго: #c60404;
    --cor-sucesso: #11c604;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5%;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
}

main {
    padding: 3%;
    gap: 1%;
    border-radius: 10%;
    box-shadow: 10px 10px 15px rgba(19, 20, 55, 0.3);
    background-color: var(--cor-fundo-2);
}

#form-login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

#form-login input {
    padding: 5px;
    border: solid var(--cor-texto);
}

#form-login button {
    border: solid var(--cor-texto);
}

#form-login button:hover {
    background-color: var(--cor-texto);
}

.toggle {
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: var(--cor-texto);
}

.erro {
    color: var(--cor-erro);
    font-size: 12px;
    text-align: center;
}

.sucesso {
    color: var(--cor-sucesso);
    font-size: 12px;
    text-align: center;
}